.modal.hide.fade{:id => 'add-match-result'}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
    %h3 Edycja wyniku meczu
  .modal-body
    %p One fine body…
  .modal-footer
    %a.btn{href: "#"} Close
    %a.btn.btn-primary{href: "#"} Save changes